In [2]:
pip install selenium==3.141.0

Requirement already satisfied: selenium==3.141.0 in /Users/sachinsen/Documents/Generative Ai/Claases/venv/lib/python3.10/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Users/sachinsen/Documents/Generative Ai/Claases/venv/lib/python3.10/site-packages (from selenium==3.141.0) (1.26.16)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install --upgrade urllib3==1.26.16

Requirement already satisfied: urllib3==1.26.16 in /Users/sachinsen/Documents/Generative Ai/Claases/venv/lib/python3.10/site-packages (1.26.16)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

In [2]:
website = "https://www.adamchoi.co.uk/overs/detailed"
path = "/Users/sachinsen/Documents/Generative Ai/Claases/SCRAPING/Selenium/chromedriver-mac-arm64/chromedriver"

In [3]:
import os
os.getcwd()

'/Users/sachinsen/Documents/Generative Ai/Claases/SCRAPING/Selenium'

In [4]:
driver = webdriver.Chrome(executable_path=path)

In [78]:
# cservice = webdriver.ChromeService(executable_path=path)
# driver= webdriver.Safari(service=cservice)

In [5]:
driver.get(website)

In [105]:
all_matches_button = driver.find_element_by_xpath('//label[@analytics-event="All matches"]')
all_matches_button.click()

In [106]:

season = driver.find_element_by_id("season")
seelct_season = Select(season)
seelct_season.select_by_visible_text('21/22')

In [74]:
# # to select on home/away split
# home_away = driver.find_element_by_xpath('//label[@analytics-event="Home/Away"]')
# home_away.click()

In [107]:
matches = driver.find_elements_by_tag_name('tr')

In [113]:
matches[0]

In [123]:
import pandas as pd
date = []
home_team = []
score = []
away_team = []

# for match in matches:
#     print(match.text)

for match in matches:
    date.append(match.find_element_by_xpath('./td[1]').text)
    home_team.append(match.find_element_by_xpath('./td[2]').text)
    score.append(match.find_element_by_xpath('./td[3]').text)
    away_team.append(match.find_element_by_xpath('./td[4]').text)
#print(date)

data = pd.DataFrame({'date':date, 'home_team':home_team, 'score':score, 'away_team':away_team})
print(data)

           date  home_team  score away_team
0    13-08-2021  Brentford  2 - 0   Arsenal
1    22-08-2021    Arsenal  0 - 2   Chelsea
2    28-08-2021   Man City  5 - 0   Arsenal
3    11-09-2021    Arsenal  1 - 0   Norwich
4    18-09-2021    Burnley  0 - 1   Arsenal
..          ...        ...    ...       ...
755  30-04-2022     Wolves  0 - 3  Brighton
756  07-05-2022    Chelsea  2 - 2    Wolves
757  11-05-2022     Wolves  1 - 5  Man City
758  15-05-2022     Wolves  1 - 1   Norwich
759  22-05-2022  Liverpool  3 - 1    Wolves

[760 rows x 4 columns]

In [124]:
data

           date  home_team  score away_team
0    13-08-2021  Brentford  2 - 0   Arsenal
1    22-08-2021    Arsenal  0 - 2   Chelsea
2    28-08-2021   Man City  5 - 0   Arsenal
3    11-09-2021    Arsenal  1 - 0   Norwich
4    18-09-2021    Burnley  0 - 1   Arsenal
..          ...        ...    ...       ...
755  30-04-2022     Wolves  0 - 3  Brighton
756  07-05-2022    Chelsea  2 - 2    Wolves
757  11-05-2022     Wolves  1 - 5  Man City
758  15-05-2022     Wolves  1 - 1   Norwich
759  22-05-2022  Liverpool  3 - 1    Wolves

[760 rows x 4 columns]

In [126]:
data.shape

(760, 4)

In [132]:
country = driver.find_element_by_id('country')
select_country = Select(country)
options = select_country.options

In [134]:
for option in options:
    print(option.text)

England
Spain
Germany
Italy
France
Scotland
Netherlands
Portugal
Turkey
Greece
Belgium
Brazil
Austria
Russia
Argentina
Denmark
Poland
USA
Norway
Sweden
Finland
Switzerland
Australia
Japan
China
Mexico
Ukraine
Czechia
Saudi Arabia
Colombia
Peru
South Africa
Ecuador
South Korea
Paraguay
Chile
Bolivia
Tunisia
Iceland
Venezuela
Uruguay
Egypt
Ireland
Northern Ireland
Estonia
Belarus
China PR
Romania

In [6]:
driver.quit()